*{  
    margin: 0px;
    padding: 0px;
    font-family: 'Roboto';
}

.ContainerSections{
    background-color: #17171b;
    color: #f3f3f4;
    display: flex;
    justify-content: space-evenly;
}



.ImagesPromo{
    display: flex;
    flex-direction: column;
    gap: 30px;
    border-right: 1px #f3f3f4 solid;
    padding: 50px 100px 0px 0px;
}

.ImagePromo{
    width: 350px;
    margin-top:40px;
    border-radius: 15px;
}



/*section cards*/
.ContainerFlexforGrid{
    height: 700px;
    overflow-y: scroll;
}

.ContainerTargetsMovies{
    display: grid;
    grid-template-columns: repeat(4,1fr);  
    gap: 25px;
    margin: 25px; 
}

@media screen and (max-width:1518px) {
    .ContainerTargetsMovies{
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:1284px) {
    .ContainerTargetsMovies {
        grid-template-columns: repeat(2, 1fr);
    }
}


@media screen and (max-width:1048px) {
    .ContainerTargetsMovies {
        grid-template-columns: repeat(1, 1fr);
    }
}

@media screen and (max-width:850px) {
    .ImagesPromo {
        align-items: center;
        padding: 50px;
    }
    .ContainerSections {
        display: flex;
        flex-direction: column;
    }

    .ContainerTargetsMovies {
        grid-template-columns: repeat(3, 1fr);
    }
}

@media screen and (max-width:700px) {
    .ContainerTargetsMovies {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

